In [7]:
print("HEllo, World!")

HEllo, World!

In [8]:
import numpy as np

In [9]:
import pandas as pd

In [10]:
!pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\abhi\appdata\local\programs\python\python312\lib\site-packages (3.9.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\abhi\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (1.2.1)
Requirement already satisfied: cycler>=0.10 in c:\users\abhi\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\abhi\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (4.53.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\abhi\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: numpy>=1.23 in c:\users\abhi\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (2.0.1)
Requirement already satisfied: packaging>=20.0 in c:\users\abhi\appdata\roaming\python\python312\site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\abhi\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\abhi\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\abhi\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\abhi\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [11]:
import matplotlib.pyplot as plt

## Variables

In [12]:
a = 1
b ='1'
c = "1"
d = 1.0

In [13]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>

In [14]:
print(a)
print(b)
print(c)
print(d)

1
1
1
1.0

In [15]:
x ='Python'
print(x)
print(x[0])
print(x[1])
print(x[2])
print(x[3])
print(x[4])
print(x[5])

Python
P
y
t
h
o
n

In [16]:
var_1, var_2, var_3 = 10, 20, 30

In [17]:
var_1 = var_2 = var_3 = 40

## Comments

In [18]:
# This is example of single line comment

In [19]:
'''This is example of multi line comment'''

'This is example of multi line comment'

## Datatype

In [20]:
d1 = 5
d2 = 'abhinav'
d3 = 5.0
d4 = True
d5 = 5+3j
d6 = [1,2,3,4,5]
d7 = (1,2,3,4,5)
d8 = {1:'one', 2:'two', 3:'three'}
d9 = {1,2,3,4,5}
d10 = None

In [21]:
print(type(d1))
print(type(d2))
print(type(d3))
print(type(d4))
print(type(d5))
print(type(d6))
print(type(d7))
print(type(d8))
print(type(d9))
print(type(d10))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>
<class 'NoneType'>

## String

In [22]:
A = '''This is example of multi line string'''
print(A)

This is example of multi line string

In [23]:
print(len(A))

36

## Type Conversion

In [24]:
## implicit type conversion
a = 10
b = 20.0
c = a + b
print(c)

30.0

In [25]:
## explicit type conversion
a = 10
b = '20'
c = a + int(b)
print(c)

30

## Operators

In [26]:
# Arithmetic Operators
a = 10
b = 20

In [27]:
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)
print(a//b)

30
-10
200
0.5
10
100000000000000000000
0

In [28]:
# Comparison Operators
a = 10
b = 20

In [29]:
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
False
True
False
True

In [30]:
# assignment operators
a = 10
b = 20

In [31]:
a += b
print(a)
a -= b  
print(a)
a *= b
print(a)
a /= b
print(a)    
a %= b
print(a)
a **= b
print(a)
a //= b
print(a)

30
10
200
10.0
10.0
1e+20
5e+18

In [32]:
# Logical Operators
a = True
b = False
a and b
a or b
not a

False

In [33]:
a = 10
b = 20
print(a<2 and b>3)

False

## Bitwise Ops

In [34]:
# Bitwise Operators
a = 10                                      
b = 20
print(a & b)
print(a | b)
print(a ^ b)

0
30
30

## Input and Output

In [35]:
num = input("Enter the number: ")
print(num)
print(type(num))

1
<class 'str'>

In [36]:
num = int(input("Enter the number: "))
print(num)
print(type(num))

1
<class 'int'>

## If...Else

In [37]:
var1 = 10
var2 = 20

In [38]:
if var1 > var2:
    print("var1 is greater than var2")
else:
    print("var2 is greater than var1")

var2 is greater than var1

In [39]:
if var1 != var2:
    print("var1 is not equal to var2")
else:
    print("var1 is equal to var2")

var1 is not equal to var2

In [40]:
if var1 == var2:
    print("var1 is equal to var2")
elif var1 > var2:
    print("var1 is greater than var2")
else:
    print("var2 is greater than var1")

var2 is greater than var1

## Loops

In [41]:
## For loop
abc = 'Python'
for i in abc:
    print(i)

P
y
t
h
o
n

In [42]:
abc = ['Python', 'Java', 'C++']
for i in abc:
    print(i)

Python
Java
C++

In [43]:
abc = ('Python', 'Java', 'C++')    
for i in abc:
    print(i)

Python
Java
C++

In [44]:
abc = {'Python', 'Java', 'C++'}
for i in abc:
    print(i)

Python
C++
Java

In [45]:
abc = {'name':'Abhinav', 'age':25, 'city':'Delhi'}
for i in abc:
    print(i)

name
age
city

In [46]:
abc = (1,2,3,4,5)   
for i in abc:
    print(i)

1
2
3
4
5

In [47]:
for i in abc:
    if i == 3:
        break
    print(i)

1
2

In [48]:
for i in abc:
    if i == 3:
        continue
    print(i)

1
2
4
5

In [1]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9